 @charset "utf-8";

 /* Basic Styling*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif, 'Open Sans';
 }

 .container {
     width: min(100% - 30px, 1080px);
     margin-inline: auto;
 }

 body {
     width: 100%;
     background: linear-gradient(45deg, #0a0a0a, #3a4452);
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .calculator {
     background: #29292c;
     box-shadow: 0px 3px 15px rgba(25, 25, 26, 0.5);
     border: 1px solid #717377;
     padding: 20px;
     border-radius: 16px;
 }

 input {
     width: 320px;
     border: none;
     cursor: pointer;
     color: #ffffff;
     padding: 24px;
     margin: 10px;
     background: transparent;
     box-shadow: 0px 3px 15px rgba(28, 27, 27, 0.1);
     font-size: 40px;
     text-align: right;
 }

 input::placeholder {
     color: #ffffff;
 }

 button {
     height: 60px;
     margin: 10px;
     border-radius: 50%;
     background: rgb(69, 69, 69);
     color: #ffffff;
     border: none;
     width: 60px;
     font-size: 20px;
     box-shadow: -8px -8px 15px rgba(99, 93, 93, 0.1);
     cursor: pointer;
 }

 button {
     transition: transform 0.2s ease;
 }

 button:hover {
     transform: translateY(-5px);
 }

 button:active {
     transform: translateY(5px);
 }


 .equal {
     background-color: #1452fb;
 }

 .text {
     color: #0ac4ee;
 }